<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <record id="mail.menu_root_discuss" model="ir.ui.menu">
            <field name="sequence" eval="1"/>

        </record>
        <!--Menu Sản Phẩm-->
        <menuitem id="rma_menu_view" name="RMA" sequence="10"/>
        <!--Sản Phẩm-->
        <menuitem id="product_menu_view"
                  name="Sản Phẩm"
                  action="rma_menu_action"
                  parent="rma_menu_view" sequence="10"/>

        <menuitem id="product_product_view"
                  name="Thêm Sản Phẩm"
                  action="rma_product_action"
                  parent="product_menu_view" sequence="10"/>

        <menuitem id="product_type_view"
                  name="Loại Sản Phẩm"
                  action="product_type_action"
                  parent="product_menu_view" sequence="11"/>

        <!--Hàng Hóa Hỏng-->
        <menuitem id="damaged_goods_view"
                  name="Xử Lý Hàng Hỏng"
                  action="rma_damaged_goods_action"
                  parent="rma_menu_view" sequence="10"/>
        Bảo Quản Sản Phẩm
        <menuitem id="productpreserve_action_view"
                  name="Bảo Quản Sản Phẩm"
                  action="productpreserve_action"
                  parent="rma_menu_view" sequence="10"/>
        Hàng Trả Về
        <menuitem id="Receive_returned_goods_action_view"
                  name="Hàng Trả Về"
                  action="rma_Receive_returned_goods_action"
                  parent="rma_menu_view" sequence="10"/>


    </data>
</odoo>