<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
    <data>
        <record id="mail.menu_root_discuss" model="ir.ui.menu">
            <field name="sequence" eval="1"/>

        </record>
        <!--Menu Sản Phẩm-->
        <menuitem id="rma_menu_view" name="RMA" sequence="10"/>
        <!--Sản Phẩm-->
        <menuitem id="product_menu_view"
                  name="Sản Phẩm"
                  action="rma_menu_action"
                  parent="rma_menu_view" sequence="10"/>

        <menuitem id="product_product_view"
                  name="Thêm Sản Phẩm"
                  action="rma_product_action"
                  parent="product_menu_view" sequence="10"/>

        <menuitem id="product_type_view"
                  name="Loại Sản Phẩm"
                  action="product_type_action"
                  parent="product_menu_view" sequence="11"/>

        <menuitem id="product_ingredients_view"
                  name="Thành Phần Sản Phẩm"
                  action="product_ingredients_action"
                  parent="product_menu_view" sequence="12"/>

        <!--Hàng Trả Về-->
        <menuitem id="Return_action_view"
                  name="Hàng Trả Về"
                  action="rma_Return_action"
                  parent="rma_menu_view" sequence="11"/>
        <!--Bảo Quản Sản Phẩm-->
        <menuitem id="preserve_view"
                  name="Bảo Quản Sản Phẩm"
                  action="productpreserve_action"
                  parent="rma_menu_view" sequence="12"/>

        <menuitem id="productpreserve_action_view"
                  name="Phiếu Bảo Quản"
                  action="productpreserve_action"
                  parent="preserve_view" sequence="13"/>

        <menuitem id="temporary_warehouses"
                  name="Kho Chứa Tạm Thời"
                  action="temporary_warehouse_action"
                  parent="preserve_view" sequence="14"/>

        <!--Hàng Hóa Hỏng-->
        <menuitem id="damaged_goods_view"
                  name="Xử Lý Hàng Hỏng"
                  action="rma_damaged_goods_action"
                  parent="rma_menu_view" sequence="13"/>

        <!--Khách Hàng-->
        <menuitem id="res_partner_action_view"
                  name="Khách Hàng"
                  action="res_partner_action"
                  parent="rma_menu_view" sequence="14"/>

    </data>
</odoo>